<html>
  <head>
    <title>Target: Exchange Rates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1>Convert AWG</h1>

<p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/AWG/AED">
        Convert 1 AWG to AED...
      </a>
    </li>
